.seo-editor-container {
	padding-bottom: 1.2308rem;
	margin-bottom: 1rem;

	&:after {
		border-bottom: 1px solid #e5e8eb;
		visibility: visible;
		width: 100%;
		content: " ";
		display: block;
		margin-top: 1.2308rem;
	}
}

.seo-editor {

	.seo-vars {
        padding: 0;
        margin: 0 0 20px;
        display: flex;
        flex-wrap: wrap;
        list-style: none;

        li {
            margin: 0 5px 5px 0;
        }

        .btn {
            padding: 3px 6px;
            margin: 0;
        }

        .btn:hover {
            color: white;
        }
    }

	.seo-input {
		margin-bottom: 20px;
	}

	.seo-input.radio {

		.radio-options {
			display: flex;

			label {
				margin-right: 20px;
			}

			input {
				margin-right: 10px;
			}
		}
	}

	.seo-section {

		.fields {
			flex-grow: 1;
			margin-right: 20px;
			width: 100%;
		}

		@media (min-width: 1200px) {
			display: flex;
			justify-content: space-between;
            flex-wrap: wrap;

			.fields {
				max-width: 500px;
                width: 45%;
			}
		}
	}

	.seo-messages {
		padding-top: 16px;
	}

	.preview-holder {
		padding: 20px 0;
		font-family: Arial,Helvetica,sans-serif;
		font-style: normal;
		width: 100%;

		@media (min-width: 1200px) {
            width: 50%;
		}

		.preview-card {
			padding: 10px 10px 16px;
			border-bottom: 1px hidden #ffffff;
			border-radius: 2px;
			box-shadow: 0 4px 4px rgba(0,0,0,.2);
		}

		.preview-card--image {
			display: block;
			width: 100%;
			padding-top: (279/426)*100%;
			position: relative;
			background-color: #f1f1f1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
			margin-bottom: 20px;
			font-size: 0;
			line-height: 0;

			a {
                padding: 0 3px;
				-webkit-transition: all 0.2s;
				-moz-transition: all 0.2s;
				-ms-transition: all 0.2s;
				-o-transition: all 0.2s;
				transition: all 0.2s;
                font-size: 10px;
                display: flex;
                align-items: center;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;

				&:hover {
					color: #000000;
					background: #FFFFFF;
                    text-decoration: none;
				}

                i {
                    font-size: 18px;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    background: #FFFFFF;
                    border-radius: 3px;

                    &:before {
                        position: relative;
                        top: 2px;
                    }
                }

			}

			div.img {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				overflow: hidden;

				img {
					position: absolute;
					min-width: 100%;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
				}
			}
		}


		.preview-card--actions {
			position: absolute;
			bottom: 20px;
			right: 10px;
			z-index: 999;
			display: flex;
		}

		h3 {
			color: #1e0fbe;
			font-size: 16px;
			line-height: 20px;
			margin: 0;
			font-weight: 400;
		}

		.preview-link {
			color: #006621;
			font-style: normal;
			margin: 0 0 9px;
			font-size: 14px;
			line-height: 20px;
			border-bottom: 1px solid #ebebeb;
			padding-bottom: 9px;
		}

		.preview-description {
			font-size: 14px;
			line-height: 20px;
		}

		.preview-card.google {
			width: 100%;
		}

		.preview-card.facebook {
            // width: 100%;
			max-width: 560px;
			box-shadow: 0 0 0 1px rgba(0, 0, 0, .15) inset, 0 1px 4px rgba(0, 0, 0, .1);
			position: relative;
			font-family: SF Optimized, system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
			font-size: 12px;
			line-height: 16px;

			h3 {
				font-family: Georgia, serif;
				font-size: 18px;
				font-weight: 500;
				line-height: 22px;
				margin-bottom: 4px;
				max-height: 110px;
				overflow: hidden;
				word-wrap: break-word;
				color: black;
			}

			.preview-link {
				border: 0;
				font-size: 11px;
				line-height: 11px;
				text-transform: uppercase;
				color: #90949c;
				margin: 0;
				padding: 0;
			}

		}

		.preview-card.twitter {
			max-width: 560px;
			border-radius: .42857em;
			border-width: 1px;
			border-style: solid;
			border-color: #E1E8ED;
			box-sizing: border-box;
			color: inherit!important;
			overflow: hidden;
			padding: 0 0 20px 0;

			.preview-card--image {
				padding-top: (230/458)*100%;
				margin-bottom: 20px;
			}

			.preview-contents {
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				line-height: 1.3em;
				padding: 0;
			}

			h3 {
				font-size: 14px;
				color: black;
				font-weight: bold;
				padding: 0 14px;
			}

			.preview-description {
				margin: 0;
				padding: 0 14px;
			}

			.preview-link {
				margin: 0;
				padding: 0 14px;
				color: #8899A6;
				border: 0;
			}
		}

	}

}


.cms-container--split-mode {
	.seo-editor {

		.seo-section {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.fields {
				width: 100%;
			}

			.preview-holder {
				max-width: 100%;
			}
		}

	}
}
