@charset "UTF-8";

@font-face {
	font-family: "seo";
	src:url("../fonts/fonts/seo.eot");
	src:url("../fonts/fonts/seo.eot?#iefix") format("embedded-opentype"),
	url("../fonts/fonts/seo.woff") format("woff"),
	url("../fonts/fonts/seo.ttf") format("truetype"),
	url("../fonts/fonts/seo.svg#seo") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-seo]:before {
	font-family: "seo" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="seo-"]:before,
[class*=" seo-"]:before {
	font-family: "seo" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.seo-rocket:before {
	content: "\61";
}
.seo-facebook-square:before {
	content: "\62";
}
.seo-twitter-square:before {
	content: "\63";
}
.seo-cog:before {
	content: "\64";
}
.seo-pencil-square-o:before {
	content: "\65";
}
.seo-trash:before {
	content: "\66";
}