.seo-editor {
	display: flex;
	justify-content: space-between;

	nav {

		width: 40px;
		padding-top: 10px;
		position: relative;
		z-index: 2;

		ul {
			list-style: none;
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li {
			margin-bottom: 4px;
		}

		a {
			display: block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			background: white;
			border: 1px solid $border-color;
			border-radius: 4px 0 0 4px;
			background: $ui-default-bg;
			font-size: 16px;

			&.active {
				background: white;
				border-right: 1px solid transparent;
			}
		}
	}

	.seo-tab-container {
		flex-grow: 1;
		border: 1px solid $border-color;
		background: white;
		border-radius: 4px;
		padding: 20px;
		margin-left: -1px;
		position: relative;
		z-index: 1;

	}

	.seo-tab {
		display: none;
	}

	.seo-tab.active {
		display: block;
	}

	.seo-tab__title {
		border-bottom: 1px solid #e5e8eb;
		padding-bottom: 16px;
	}

}